{% extends "layout.html" %}

{% block content %}
    <div class="alert alert-secondary">

        <p>
            To foster the culture of cloud-native solutions in the community and ensure the reproducibility of the solutions, we provide a Kubernetes-cluster-based evaluation infrastructure. 
            Please containerize your solution and develop a Kubernetes job workload for solution deployment. 
            Please upload the job YAML file to Challenger so that your solutions can be deployed on the cluster. 
            Only one deployment is allowed at a time.
            Challenger utilizes <a href="https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/" target="_blank">namespaces</a> to sandbox solutions. 
            Furthermore, it uses <a href="https://kubernetes.io/docs/concepts/policy/resource-quotas/" target="_blank">ResourceQuotas</a> and <a href="https://kubernetes.io/docs/concepts/policy/limit-range/" target="_blank">LimitRanges</a> to provide uniform resources to each namespace to ensure a fair evaluation. 
            Each namespace is assigned 4 CPU cores and 8 GBs of memory. 
            You can distribute these resources among pods. 
            By default, each container is given 1 CPU core and 2 GBs of memory.
        </p>

        <hr/>

        <h4 class="alert-heading">Fault-tolerance evaluation</h4>

        <p class="mb-0">
            Faults are a common occurrence in any infrastructure, and faults may drastically reduce the performance of a solution [<a href="/static/p806-tahir.pdf" target="_blank">paper</a>]. 
            A practical solution should not only be performant but also fault-tolerant. 
            Challenger provides fault-tolerance evaluations to measure the solutions' performance under failure. 
            Challenger can simulate processes (pods) and network failures. 
            Pods failures make a process unavailable, and network failures can introduce network delays in the network of the solution. 
            Please read Section 3.3 of the paper on the discussion to choose these failures. 
            Please run your solutions against both faults with varying frequencies and report your results.
        </p>

        <br>


        <h5 class="alert-heading">Fault-tolerance evaluation parameters</h4>

        <p class="mb-0">
            <ul>
                <li>Failure: Enable or disable the failure simulation.</li>
                <li>Failure type: Choose between pod and network failures.</li>
                <li>Failure interval: Set the interval of the failure simulation frequency in minutes.</li>
            </ul>
        </p>



        Please upload a Kubernetes <a href="https://kubernetes.io/docs/concepts/workloads/controllers/job/" target="_blank">job</a> of your solution in YAML format.
        <br>
        Only one deployment is allowed at a time.

        <hr/>

    </div>
    

    <form action="{{ url_for('deployment') }}" method="post" class="form" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputFile" class="col-sm-3 col-form-label">File</label>
            <div class="col-sm-5">
                <input type="file" name="file" class="form-control" id="inputFile" accept=".yaml, .yml" value="">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputFile" class="col-sm-3 col-form-label">Failure</label>
            <div class="col-sm-5">
                <input type="checkbox" name="failure" class="form-check-input col-form-input" id="failure" value="">
            </div>
        </div>

        <div class="form-group row">
            <label for="failure_type" class="col-sm-3 col-form-label">Failure type</label>
            <div class="col-sm-5">
                <select name="failure_type" id="failure_type" class="select">
                    <option value="pod">Pod</option>
                    <option value="network" selected>Network</option>
                </select>
                
            </div>
        </div>

        <div class="form-group row">
            <label for="timer" class="col-sm-3 col-form-label">Failure interval (min)</label>
            <div class="col-sm-5">
                <input type="text" name="timer" class="form-control-sm col-form-input" id="timer" value="1">
            </div>
        </div>

        
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div clas#s="col-sm-2">
                <input type="submit" name="deploy" class="btn btn-primary mb-2" value="Deploy"  {{ 'disabled' if not deployment_allowed }}  />
            </div>
        </div>
    </form>

    <h6>Previous deployments</h6>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                
                <th>Failure</th>
                
                <th align="right">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for deployment in deployments %}
                <tr>
                    <td>{{ deployment._id }}</td>
                    <td class="humantimestamp" title="{{ deployment.timestamp }}"></td>
                    <td align="right"><input type="checkbox" name="failure-indicator-{{deployment._id}}" class="form-check-input" id="failure" value="" disabled></td>
                    <td>
                        <form action="{{ url_for('deployment_delete', deployment_id=deployment._id) }}" method="post" class="form" enctype="application/x-www-form-urlencoded">
                            <input type="submit" name="deployDelete" id="deployDelete" class="btn btn-danger mb-2 deploy-delete" value="Delete" {{ 'disabled' if not deployment.is_active }}/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- <script src="/static/js/deployment.js" -->

{% endblock %}