{% extends "layout.html" %}

{% block content %}
    <h6>How to ask questions?</h6>
    <p>Please send e-mail: debs25gc@gmail.com</p>
    <p></p>

    <h6>Can we get batches in parallel or should we submit the result of a batch before getting the next batch?</h6>
    <p>You can get more batches by invoking nextBatch method. You don't have to submit the result to get the next batch. </p>
    <p></p>

    <h6>What are the internal IPs for the VMs?</h6>
    <p>VMs are connected over a virtual network. If you are developing a distributed solution you can "connect" multiple VMs using internal IPs.</p>
    <p></p>

{% endblock %}