{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Time ago</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for update in updates %}
        <tr role="alert">
            <td class="humantimestamp" title="{{ update.timestamp }}">
            </td>
            <td>
                {% for change in update.changes %}
                    <p>
                        {{ change }}
                    </p>                    
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}