{% extends "layout.html" %}

{% block content %}
    <h4>Details about non-functional requirements</h4>
    <p>See <a href="/static/DEBSNonFunctionalRequirements.pdf" target="_blank">here</a></p>
    <h4>How do I create a public key for a VM?</h4>
    <p>You need to create a public/private key pair. Once you create a key pair, copy the text of the public key to your VMs in the profile. See: <a href="https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent" target="_blank">Generating a new SSH key and adding it to the ssh-agent</a> </p>
    <p>If you added the ssh key to your agent, connect to using "ssh -p port group-#@challenge.msrg.in.tum.de" to your VM.</p>
    <h4>Is the watermark independ for every city?</h4>
    <p>The highest timestamp of the batch.current is the watermark and applies for all relative windowing operations.</p>

    <h4>The first window has less than 24h of data. Is this correct?</h4>
    <p>Yes, each batch has 10k events, as the rate is around 4k of events, the operator needs to consume multiple batches to fill the whole window.
        The snapshots for the results should be taken independent of how full a window is.</p>

    <h4>Is the data ordered?</h4>
    <p>The batches are provided in an ordered way.</p>
{% endblock %}