{% extends "layout.html" %}

{% block content %}
    <h4>How to ask questions?</h4>
    <p>Please send e-mail: debsgc22@gmail.com</p>
    <p></p>

    <h4>What should be the granularity of timestamps?</h4>
    <p>Timestamps till milliseconds should be considered.</p>
    <p></p>

    <h4>Can we get batches in parallel or should we submit the result of a batch before getting the next batch?</h4>
    <p>You can get more batches by invoking nextBatch method. You don't have to submit the result to get the next batch. </p>
    <p></p>

    <h4>Is the batch size fixed to 1000?</h4>
    <p>No, we will use bigger batches for the final evaluation.</p>
    <p></p>

    <h4>Are subscriptions going to change in the evaluation?</h4>
    <p>Yes.</p>
    <p></p>

    <h4>How to reply if we didn't receive any data for a subscription?</h4>
    <p>An empty set is enough.</p>
    <p></p>

    <h4>Will we get an indication of which results are correct?</h4>
    <p>So far there are no plans to return an indication of correctness via the API. We keep you posted on this.</p>
    <p></p>

    <h4>Should all the windows be aligned or should each window be started with the first event?</h4>
    <p>All the windows should be aligned.</p>
    <p></p>

    <h4>Are the timestamps monotonically increasing?</h4>
    <p>Dataset is ordered by the arrival of events but as the dataset is coming 
        from multiple sources, the monotonicity of dataset cannot be claimed.
    </p>
    <p></p>

    <h4>What are the internal IPs for the VMs?</h4>
    <p>VMs are connected over a virtual network. If you are developing a distributed solution you can "connect" multiple VMs using internal IPs.</p>
    <p></p>


{% endblock %}