{% extends "layout.html" %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Latency</th>
                    <th>Throughput</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}