{% extends "layout.html" %}

{% block content %}
    <div class="form-group row">
        <label for="staticGroupNameId" class="col-sm-3 col-form-label">API Key</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="groupapikey" value="{{ group.groupapikey }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <button type="button" class="btn btn-info btn-clipboard" data-clipboard-action="copy" data-clipboard-target="#groupapikey">Copy to clipboard</button>
        </div>
    </div>

    <form action="{{ url_for('profile') }}" method="post" class="form">
        <div class="form-group row">
            <label for="staticGroupNameId" class="col-sm-3 col-form-label">Group Nickname</label>
            <div class="col-sm-5">
                <input type="text" name="groupnick" class="form-control" id="staticGroupNameId" value="{{ group.groupnick }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticGroupEMailId" class="col-sm-3 col-form-label">E-Mail</label>
            <div class="col-sm-5">
                <input type="text" name="groupemail" class="form-control" id="staticGroupEMailId" value="{{ group.groupemail }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSSHKeyId" class="col-sm-3 col-form-label">SSH-Key Public Key</label>
            <div class="col-sm-7">
                <input type="text" name="sshpubkey" class="form-control" id="inputSSHKeyId" value="Public key">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputVMAdrsId" class="col-sm-3 col-form-label">VM Address</label>
            <div class="col-sm-7">
                <input type="text" name="vmadrs" class="form-control" id="inputVMAdrsId" value="VM address">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary mb-2" value="Save" />
            </div>
        </div>
    </form>

<div>
    <h4>Nickname</h4>
    <p>The nickname of your group is shown in the Leaderboard. It should not reveal your identity or affiliation. Choose something creative :)</p>
    <h4>E-Mail</h4>
    <p>We'll send all notifications to this address</p>
    <h4>SSH-Key</h4>
    <p>Use an existing public key or create a new public key locally on your machine. Prefered are ed25519 keys.</p>
    <p>Once we enabled access to the VM, you will be able to login with the key. More keys for other teammembers should be added directly on the machine.</p>
</div>
{% endblock %}