{% extends "layout.html" %}

{% block content %}
    <!-- <div class="alert alert-secondary">
        Virtual machines will be proviced end of January 2022. plz. develop using the API locally.    
    </div> -->
    <div class="alert alert-secondary">
        If you go for a distributed implementation and need more VMs for the evaluation, please e-mail: debs24gc@gmail.com
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Internal Address</th>
                <th>Forwarding</th>
                <th>Last added pub key</th>
            </tr>
            </thead>
            <tbody>
            {% for vm in vms %}
                <tr>
                    <td>{{ vm.internaladrs }}</td>
                    <td>{{ vm.forwardingadrs }}</td>
                    <td>{{ vm.sshpubkey }}</td>
                </tr>
                <tr>
                    <td>Command:</td>
                    <td colspan="2">{{ ssh[vm.id] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="{{ url_for('vms') }}" method="post" class="form" onsubmit="show_loading_overlay();">
        <h5>Add public key to VM</h5>
        <div class="form-group row">
            <label for="VMAdrs" class="col-sm-3 col-form-label">VM Address</label>
            <div class="col-sm-7">
                <select name="VMAdrs">
                    {% for vm in vms %}
                        <option value="{{vm.forwardingadrs}}/{{vm.internaladrs}}">{{vm.forwardingadrs}}/{{vm.internaladrs}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputSSHKeyId" class="col-sm-3 col-form-label">SSH-Key public key</label>
            <div class="col-sm-7">
                <input type="text" name="sshpubkey" class="form-control" id="inputSSHKeyId" placeholder="$ cat ~/.ssh/id_rsa.pub Copy content and paste it here or check the tutorial on how to create a SSH key below." value="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
                <input type="submit" name="sshkey" class="btn btn-primary mb-2" value="Add key" />
            </div>
        </div>
    </form>
    <div id="loading-overlay" class="loading-overlay">
        <svg viewBox="0 0 100 100">
          <defs>
            <filter id="shadow">
              <feDropShadow dx="0" dy="0" stdDeviation="1.5" 
                flood-color="#fc6767"/>
            </filter>
          </defs>
          <circle id="spinner" style="fill:transparent;stroke:#dd2476;stroke-width: 7px;stroke-linecap: round;filter:url(#shadow);" cx="50" cy="50" r="45"/>
      </svg>
      </div>
    <style>
        #loading-overlay {
            display: none;
            width: 200px;
            height: 200px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @keyframes animation {
            0% {
            stroke-dasharray: 1 98;
            stroke-dashoffset: -105;
            }
            50% {
                stroke-dasharray: 80 10;
                stroke-dashoffset: -160;
            }
            100% {
                stroke-dasharray: 1 98;
                stroke-dashoffset: -300;
            }
        }

        #spinner {
            transform-origin: center;
            animation-name: animation;
            animation-duration: 1.2s;
            animation-timing-function: cubic-bezier;
            animation-iteration-count: infinite;
        }
    </style>
    <div>
        <h4>SSH-Key</h4>
        <p>Use an existing public key or create a new key locally on your machine. On Linux you may find the key under .ssh/ and with the extension .pub</p>
        <p><a target="_blank" href="https://docs.github.com/en/github/authenticating-to-github/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent">Here</a> is a tutorial on how to create a ssh key.</p>
    </div>
    <script>
        // Function to show the loading overlay
        function show_loading_overlay() {
            document.getElementById('loading-overlay').style.display = 'block';
        }
    
        // Function to hide the loading overlay
        function hide_loading_overlay() {
            document.getElementById('loading-overlay').style.display = 'none';
        }
    </script>

{% endblock %}